/* -👇👇👇-Main Content-👇👇👇-Start-👇👇👇- */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.about img {
  width: 250px;
  height: 250px;
  margin-bottom: 64px;
}
.about-title {
  font-size: 96px;
  align-self: stretch;
  text-align: center;
  font-weight: 200;
  line-height: 84px;
  color: var(--titleColor);
  font-family: var(--font-family-title);
  margin-top: 0px;
}
.about-text {
  align-self: stretch;
  text-align: center;
  color: var(--textColor);
  font-family: var(--font-family-body);
  line-height: 28px;
  font-size: 18px;
  padding: 0 32px;
  width: 1157px;
  margin: 0 auto;
}
/* ---👇👇👇-Button-👇👇👇-Start-👇👇👇--- */
.btnss-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}
.btnContainer {
  background-color: var(--buttonBackgroundColor);
  border-radius: 10px;
  height: fit-content;
  padding: 3px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.btnContainer:hover {
  background-color: var(--buttonBackgroundHover);
  transition: 10s;
  transition-timing-function: ease-in-out;
}
.hire-me-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--buttonTextColor);
  background-color: var(--buttonBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family-body);
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.hire-me-btn:hover {
  background-color: var(--buttonBackgroundHover);
  color: var(--buttonTextHover);
  font-weight: 700;
}
.lets-talk-btn:hover {
  background-color: var(--buttonBackgroundHover);
  color: var(--buttonTextHover);
}
.lets-talk-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--buttonTextColor);
  background-color: var(--buttonBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family-body);
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
/* -☝☝☝-Button-☝☝☝-end-☝☝☝- */
.line {
  border: 0;
  height: 1px;
  background: var(--lineColor);
  margin-top: 64px;
  margin-bottom: 64px;
  width: 1157px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1157px;
  align-self: stretch;
  margin: 0 auto;
  gap: 156px;
}
.exp-title {
  font-size: 48px;
  font-weight: 200;
  line-height: 84px;
  color: var(--titleColor);
  font-family: var(--font-family-title);
}
.exp-position {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  font-size: 24px;
  line-height: 52px;
  color: var(--titleColor);
  font-family: var(--font-family-body);
  height: 37px;
  margin-bottom: 0;
  font-weight: 900;
}
.exp-subtitle {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 0;
}
.exp-org-name {
  font-size: 18px;
  line-height: 28px;
  /* font-weight: 700; */
  color: var(--textColor);
  font-family: var(--font-family-body);
}
.exp-timeline {
  line-height: 28px;
  font-size: 18px;
  /* font-weight: 600; */
  color: var(--textColor);
  font-family: var(--font-family-body);
}
.exp-description {
  line-height: 28px;
  font-size: 18px;
  font-weight: 300;
  color: var(--textColor);
  font-family: var(--font-family-body);
  align-self: stretch;
  margin-top: 36px;
}
.exp-container-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.circle {
  width: 27px;
  height: 27px;
  background-color: var(--lineColor);
  border-radius: 50%;
}
.border {
  width: 3px;
  height: 300px;
  background-color: var(--lineColor);
}
.circle-3 {
  width: 27px;
  height: 27px;
  background-color: var(--lineColor);
  border-radius: 50%;
}
.border-3 {
  width: 3px;
  height: 270px;
  background-color: var(--lineColor);
}
.circle-4 {
  width: 27px;
  height: 27px;
  background-color: var(--lineColor);
  border-radius: 50%;
}
.border-4 {
  width: 3px;
  height: 270px;
  background-color: var(--lineColor);
}

