@font-face {
  font-family: Rubik-Dirt;
  src: url(./Fonts/Rubik-Dirt.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/Fonts/Poppins-Regular.ttf);
}
 /* -👇👇👇_DARK_MODE_👇👇👇_Background_Color_Scheme_👇👇👇- */
:root {
/* -👇👇👇_LIGHT_MODE_👇👇👇_Color_Scheme_👇👇👇- */
    --main-bg-color-light: #f0f0f0;
    --inp-bg-color-light: #ffffff; 
    --border-color-light: #cccccc; 
    --inp-txt-color-light: #333333; 
    --title-color-light: #333333;
    --btn-hover-color-light: #e0e0e0; 
    --main-txt-color-light: #333333;
    --btn-color-light: #007BFF;
    --btn-bg-color-light: #e0e0e0;

   /* -👇👇👇_DEFAULT_MODE_👇👇👇_Color_Scheme_👇👇👇- */
    --main-bg-color: var(--main-bg-color-light);   
    --inp-bg-color: var(--inp-bg-color-light);
    --border-color: var (--border-color-light);
    --inp-txt-color: var(--inp-txt-color-light);
    --title-color: var(--title-color-light);
    --btn-hover-color:var(--btn-hover-color-light);
    --main-txt-color: var(--main-txt-color-light);
    --btn-color: var(--btn-color-light);
    --btn-bg-color: var(--btn-bg-color-light);
   /* -👇👇👇_DARK_MODE_👇👇👇_Color_Scheme_👇👇👇- */
    --main-bg-color-dark: #360130;
    --inp-bg-color-dark: #132531;
    --border-color-dark: #7A297A;
    --inp-txt-color-dark: #FFFFFF;
    --title-color-dark: #FFD700;
    --btn-hover-color-dark: #7A297A;
    --main-txt-color-dark: white;
    --btn-color-dark: #3f84b2;
    --btn-bg-color-dark: #132531;
    --font-family-title: 'Rubik-Dirt', sans-serif;
    --font-family-body: 'Poppins', sans-serif;
}

/* body {
  background-color: var(--main-bg-color);
  margin: 0;
} */
 /* -👇👇👇-header-👇👇👇-Start-👇👇👇- */

 
.left-logo-mode{/* -👇👇👇-Mode-👇👇👇-Start-👇👇👇- */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

 .light-mode-text{
  color: var(--input-text-light);
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-family-title);
  color: var(--title-light);
  width: 60px;
  /* position: absolute;
  left: 5px; */
 }
.mode-with-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  background-color: var(--btn-background-light);
  gap: 5px;
  padding-right: 10px;
  padding-left: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 110px;
  height: 48px;
}
.mode {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin-top: 2.5px;
}
.mode input[type="checkbox"] {
  display: none;
}
.mode label{
  background-image: url("./light-mode-icon60x60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
}


.mode input[type="checkbox"]:checked + label {
  background-color: var(--main-bg-color);
  position: absolute;
  bottom: 0px;
  left: 75px;
  right: 0px;
  top: 2.5px;
  background-image: url("./moon.gif");  /* need to be changed -----Canva--RunwayML*/
}
/* -☝☝☝-Mode-☝☝☝-end-☝☝☝- */
/* ---👇👇👇-header-👇👇👇-Start-👇👇👇--- */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 142px;
  }
  .active {
    color: var(--title-color);
    border: 1px solid var(--title-color);
    text-decoration: none;
    font-family: var(--font-family-title);
    padding: 5px 10px;
    border-radius: 10px 10px 10px 10px;
    background-image: url("./active-nav-bg-cool-mode.gif");
    border-left: 0.35px;
    border-right: 0.35px
  }
  header ul {
    font-family: "Poppins";
    color: var(--inp-txt-color);
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-family: var(--font-family-body);
}
.non-active{
  color: var(--inp-txt-color);
    text-decoration-line: none;

  }/* -☝☝☝-Header-☝☝☝-end-☝☝☝- */
  
.about-text{
  align-self: stretch;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  color: #FFF;
  font-size: 18px;
  padding: 0 32px;
  width: 1157px;
  margin: 0 auto;
  font-family: "Poppins";
}

body {
    background-color: #360130;

}

header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
    padding: 32px 142px;
    
  }

  .active {
    color: #FFD700;
  }

  header ul {
    font-family: "Poppins";
    color: white;
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
      
  }
.non-active{
    color: white;
    text-decoration-line: none;

  }





  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .about img{
    width: 250px;
    height: 250px;
    margin-bottom: 64px;

  }

  .about-title{
    font-size: 64px;
    align-self: stretch;
    text-align: center;
    font-weight: 200;
    line-height: 84px;
    color: #FFF;
    font-family: "Rubik-Dirt";
    



  }



  .main-btn {
    background-color: #A57C00;
    color: black;
    border: 1px solid #6C4C00;
    width: 151px;
    height: 52px;
    font-family: "Rubik-Dirt";

  }
  .second-btn {
    background-color: #071e2e;
    color: #A57C00;
    border: 1px solid #A57C00;
    width: 151px;
    height: 52px;
    margin-left: 16px;
    font-family: "Rubik-Dirt";

  }


  .btn {
    border-radius: 20px;
    font-size: 18px;
    gap: 16px;
    margin-top: 32px;

  }

  .line {
    border: 0;
    height: 1px;
    background: #000000; 
    margin-top: 96px; 
    margin-bottom: 96px;
    width: 1157px; 
  }

.container{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 1157px;
align-self: stretch;
margin: 0 auto;
gap: 156px;



}

.exp-title {
color: #FFF;
font-size: 48px;
font-weight: 500;
line-height: 64px;
font-family: "Rubik-Dirt";
}



.exp-position {
display: flex;  
justify-content: center;
flex-direction: column;
align-self: stretch;
font-size: 24px;
font-weight: 600;
line-height: 52px; 
color: #FFF;
height: 37px;
margin-bottom: 0;
font-family: "Poppins";

}

.exp-subtitle {
display: flex;
flex-direction: row;
gap: 8px ;
margin-top: 0;
font-family: "Poppins";
}

.exp-org-name {
color: #FFF;
font-size: 18px;
line-height: 28px;
font-weight: 400;
font-family: "Poppins";
}

.exp-timeline {
line-height: 28px;  
font-weight: 400;
font-size: 18px;
color: #FFF;
font-family: "Poppins";
}

.exp-description {
color: #FFF;
line-height: 28px;
font-size: 18px;
font-weight: 400;
align-self: stretch;
margin-top: 36px;
font-family: "Poppins";
}

.my-skills-container {
display: flex;
flex-direction: row;



}

.my-skills-title {
color: #FFF;
font-size: 48px;
width: 315px;
font-weight: 500;
line-height: 64px;


}





.skill-name {
color: #FFF;
font-size: 24px;
display: flex;
font-weight: 600;
justify-content: center;
align-self: stretch;
line-height: 52px;
height: 37px;
flex-direction: column;


}
.skills {
  width: 554px;
height: 14px;
background-color: #ffffff;
padding: 0;



}
.line-HTML-5 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 0;
  height: 14px;
  background: #39c605; 
  margin-top: 0; 
  width: 553.5px; 
  height: 14px;
  fill: 65%;



}
/* .a {
  border: 0;
  height: 14px;
  background: #a7eb8f; 
  margin-top: 0; 
  width: 553.5px; 
  height: 14px;
  margin-left: 0;

  

}

.b {
  display: flex;
  justify-content: flex-start;
  border: 0;
  height: 14px;
  background: #39c605; 
  margin-top: -22px; 
  margin-left: 0;
  width: 453.5px; 
  height: 14px;
  
  

}



.c {
margin-top: 0.5px;



}



.box {

  background-color: #44ff00;
  width: 453.5px;
  height: 14px;
  margin-top: -14px;

  
}

.boxx {
display: flex;
  background-color: #a7eb8f;
  width: 553.5px; 
  height: 14px;
  fill: #000000;
  fill-rule: 65%;
  
} */









.exp-container-middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;

}
.circle{
  width: 27px;
  height: 27px;
  background-color: #ff9500;
  border-radius: 50%;

}

.border{
  width: 3px;
  height: 300px;
  background-color: #ff9500;

}

.circle-3{
  width: 27px;
  height: 27px;
  background-color: #ff9500;
  border-radius: 50%;

}

.border-3{
  width: 3px;
  height: 270px;
  background-color: #ff9500;

}
.circle-4{
  width: 27px;
  height: 27px;
  background-color: #ff9500;
  border-radius: 50%;

}

.border-4{
  width: 3px;
  height: 270px;
  background-color: #ff9500;

}



 /* -👇👇👇-Footer-👇👇👇-Start-👇👇👇- */
 .icons{
  width: 35px;
  height: 35px;
}
.icons:hover {
  width: 50px;
  height: 50px;
  background-color: var(--btn-color);
  border-radius: 10px;
  padding: 3px;
  border: 2px solid var(--border-color);
}
.footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 64px; 
}
.footer-txt{
color: var(--title-color);
font-size: 25px;
opacity: 0.75;
font-family: var(--font-family-title);
}
.footer-txt:hover {
  cursor: pointer;
  font-size: 35px;
  font-weight: 900;
  border: 3px dashed var(--title-color);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--btn-hover-color);
}
.footer-icons {
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
}/* -☝☝☝-Footer-☝☝☝-end-☝☝☝- */