@font-face {
  font-family: Rubik-Dirt;
  src: url(./Fonts/Rubik-Dirt.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/Fonts/Poppins-Regular.ttf);
}
:root {
  /* -👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇_DEFAULT_MODE_👇👇_Color_Scheme_👇👇- */
  --bodyColor: var(--bodyColor-light);
  --titleColor: var(--titleColor-light);
  --subtitleColor: var(--subtitleColor-light);
  --textColor: var(--textColor-light);
  --lineColor: var(--lineColor-light);
  --borderColor: var(--border-color-light);
  --buttonBackgroundColor: var(--buttonBackgroundColor-light);
  --buttonBackgroundHover: var(--buttonBackgroundHover-light);
  --buttonTextColor: var(--buttonTextColor-light);
  --buttonTextHover: var(--buttonTextHover-light);
  --footerIconsBackgroundHoverCover: var(
    --footerIconsBackgroundHoverCover-light
  );
  --footerIconsBorderColor: var(--footerIconsBorderColor-light);
  --footerTextBackgroundHoverColor: var(--footerTextbackgroundHoverColor-light);
  --footerTextBorderHovercolor: var(--footerTextBorderHovercolor-light);
  --footertitleColor: var(--footertitleColor-light);
  --footertitleHoverColor: var(--footertitleHoverColor-light);
  --headerNavLinkACTIVEBorderColor: var(--headerNavLinkACTIVEBorderColor-light);
  --headerNavLinkACTIVEColor: var(--headerNavLinkACTIVEColor-light);
  --headerNavLinkNONACTIVEColor: var(--headerNavLinkNONACTIVEColor-light);
  --textModeColor: var(--textModeColor-light);
  --dataTogleModeBgImage: var(--dataTogleModeBgImage-light);
  --navActiceTabBackground: var(--navActiceTabBackground-light);
  --bodyBackgroundImage: var(--bodyBackgroundImage-light);
  --headerModeFlexDIrection: var(--headerModeFlexDIrection-light);
  --contentBackgroundImage: var(--contentBackgroundImage-light);
  --contentBorder: var(--contentBorder-light);
  /* -☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝☝-_DEFAULT_MODE_-☝☝_Color_Scheme_☝☝__- */
  --dataTogleModeBgImage-light: url("./icons/light-mode-icon");
  --dataTogleModeBgImage-dark: url("./icons/cool-mode-icon.gif");

  --bodyColor-light: #f0f0f0;
  --bodyColor-dark: #360130;

  --titleColor-light: #1f1f1f;
  --titleColor-dark: #ffaa00;

  --subtitleColor-light: #4b4b4b;
  --subtitleColor-dark: #0c71b4;

  --textColor-light: #1f1f1f;
  --textColor-dark: #f0f0f0;

  --lineColor-light: #007bff;
  --lineColor-dark: #a800a8;

  --borderColor-light: #007bff;
  --borderColor-dark: #ff00ff;

  --buttonBackgroundColor-light: #007bff;
  --buttonBackgroundColor-dark: #132531;

  --buttonBackgroundHover-light: #f0f0f0;
  --buttonBackgroundHover-dark: #7a297a;

  --buttonTextColor-light: #f0f0f0;
  --buttonTextColor-dark: #f0f0f0;

  --buttonTextHover-light: #1f1f1f;
  --buttonTextHover-dark: #1f1f1f;

  --footerIconsBackgroundHoverCover-light: #007bff;
  --footerIconsBackgroundHoverCover-dark: none;

  --footerIconsBorderColor-light: #1f1f1f;
  --footerIconsBorderColor-dark: none;

  --footerTextbackgroundHoverColor-light: #007bff;
  --footerTextbackgroundHoverColor-dark: #ffd500;

  --footerTextBorderHovercolor-light: #1f1f1f;
  --footerTextBorderHovercolor-dark: #007bff;

  --footertitleColor-light: #1f1f1f;
  --footertitleColor-dark: #fffcfc;

  --footertitleHoverColor-light: #fffcfc;
  --footertitleHoverColor-dark: #1f1f1f;

  --headerNavLinkACTIVEBorderColor-light: #007bff;
  --headerNavLinkACTIVEBorderColor-dark: #007bff;

  --headerNavLinkACTIVEColor-light: #1f1f1f;
  --headerNavLinkACTIVEColor-dark: #ff9500;

  --headerNavLinkNONACTIVEColor-light: #1f1f1f;
  --headerNavLinkNONACTIVEColor-dark: #f0f0f0;

  --textModeColor-light: #1f1f1f;
  --textModeColor-dark: #ffd500;

  --bodyBackgroundImage-light: none;
  --bodyBackgroundImage-dark: url("./images/Backgrounds/body-5.gif");

  --navActiceTabBackground-light: none;
  --navActiceTabBackground-dark: url("./icons/active-nav-bg-cool-mode.gif");

  --headerModeFlexDIrection-light: flex;
  --headerModeFlexDIrection-dark: row-reverse;

  --contentBackgroundImage-light: none;
  --contentBackgroundImage-dark: url("./images/Backgrounds/body-22.gif");

  --contentBorder-light: none;
  --contentBorder-dark: 2px dashed #fd6f03;

  --font-family-title: "Rubik-Dirt", sans-serif;
  --font-family-body: "Poppins", sans-serif;

  /* --mainPageImage: var(--mainPageImage-light); 
 --mainPageImage-light: url("./images/cartoonize-avatar-light-mode.png");
  --mainPageImage-dark: url("./images/cartoonize-avatar-cool-mode.png"); FIXME:*/
}

.me {
  margin-bottom: -5px;
}
body {
  background-image: var(--bodyBackgroundImage);
  background-color: var(--bodyColor);
  margin: 0;
}
/* -👇👇👇-header-👇👇👇-Start-👇👇👇- */
.left-logo-mode {
  /* -👇👇👇-Mode-👇👇👇-Start-👇👇👇- */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.light-mode-text {
  color: var(--textModeColor) !important;
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-family-title);
  color: var(--title-light);
  width: 60px;
}
.mode-with-logo {
  display: flex;
  flex-direction: var(--headerModeFlexDIrection);
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border-radius: 50px;
  gap: 5px;
  padding-right: 10px;
  padding-left: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 110px;
  height: 48px;
  position: relative;
}
.mode {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 2px;
  margin-top: 2.5px;
}
.mode input[type="checkbox"] {
  display: none;
}
.mode label {
  background-image: var(--dataTogleModeBgImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
}

.mode input[type="checkbox"]:checked + label {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 0px;
  top: 2.5px;
  background-image: var(--dataTogleModeBgImage); /* FIXME: */
}
/* -☝☝-Mode-☝☝-end-☝__👇-header-👇👇-Start-👇👇--- */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 142px;
}
.active {
  color: var(--headerNavLinkACTIVEColor);
  border: 1px solid var(--headerNavLinkACTIVEBorderColor);
  text-decoration: none;
  font-family: var(--font-family-title);
  padding: 5px 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: var(--navActiceTabBackground);
  /* background-image: url("./active-nav-bg-cool-mode.gif"); */
  border-left: 0.35px;
  border-right: 0.35px;
}
header ul {
  font-family: "Poppins";
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-family: var(--font-family-body);
}
.non-active {
  color: var(--headerNavLinkNONACTIVEColor);
  text-decoration-line: none;
}
/* -☝☝☝-Header-☝☝☝-end-☝☝☝- */
.main-content {
  display: flex;
  justify-content: center;
  align-self: stretch;
  align-content: stretch;
  margin-top: 64px;
  padding: 50px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 1157px;
  height: fit-content;
  background-image: var(--contentBackgroundImage);
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 10px 0px 10px;
  border: var(--contentBorder);
  border-radius: 5px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: stretch;
  width: 450px;
  margin-top: 0px;
}
.hero-title {
  font-size: 64px;
  line-height: 84px;
  color: var(--titleColor);
  font-family: var(--font-family-title);
  align-self: stretch;
  margin: 0;
  width: fit-content;
}
.hero-role {
  color: var(--subtitleColor);
  font-family: var(--font-family-title);
  font-size: 24px;
  margin: 10px 0px;
}
.hero-doc {
  font-size: 18px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--font-family-body);
  line-height: 28px;
  margin: 0;
  width: fit-content;
  padding: 2.5px;
}

/* -👇👇👇-Footer-👇👇👇-Start-👇👇👇- */
.icons {
  width: 35px;
  height: 35px;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.icons:hover {
  width: 50px;
  height: 50px;
  background-color: var(--footerIconsBackgroundHoverCover);
  border-radius: 10px;
  padding: 3px;
  border: 2px solid var(--footerIconsBorderColor);
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px;
}
.footer-txt {
  color: var(--footertitleColor);
  font-size: 25px;
  opacity: 0.75;
  font-family: var(--font-family-title);
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.footer-txt:hover {
  cursor: pointer;
  font-size: 35px;
  border: 3px dashed var(--footerTextBorderHovercolor);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--footerTextBackgroundHoverColor);
  color: var(--footertitleHoverColor-light);
}
.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
} /* -☝☝☝-Footer-☝☝☝-end-☝☝☝- */
.line {
  border: 0;
  height: 1px;
  background: var(--lineColor);
  margin-top: 64px;
  margin-bottom: 32px;
  width: 1157px;
}
/* ---👇👇👇-Button-👇👇👇-Start-👇👇👇--- */
.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  width: 100%;
  margin-top: 0px;
  margin-left: -1px;
  margin-bottom: 10px;
}
.btnContainer {
  background-color: var(--buttonBackgroundColor);
  border-radius: 10px;
  height: fit-content;
  padding: 3px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.btnContainer:hover {
  background-color: var(--buttonBackgroundHover);
  transition: 10s;
  transition-timing-function: ease-in-out;
}
.hire-me-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--buttonTextColor);
  background-color: var(--buttonBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family-body);
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.hire-me-btn:hover {
  background-color: var(--buttonBackgroundHover);
  color: var(--buttonTextHover);
  font-weight: 700;
}
.lets-talk-btn:hover {
  background-color: var(--buttonBackgroundHover);
  color: var(--buttonTextHover);
}
.lets-talk-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--buttonTextColor);
  background-color: var(--buttonBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family-body);
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
/* -☝☝☝-Button-☝☝☝-end-☝☝☝- */

/* @media only screen and (max-width: 600px) {
    .content {
      flex-direction: column;
    }} */
