.line-portfolio {
  border: 0;
  background: var(--lineColor);
  width: 1157px;
  height: 1px;
  margin-left: 90px;
}

.line-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  margin-top: 64px;
  margin-bottom: 32px;
}
/* -👇👇👇-Main Content-👇👇👇-Start-👇👇👇- */

.main-content-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  margin-left: 142px;
  margin-right: 142px;
  margin-top: 100px;
  margin-bottom: 100px;
  /* width: fit-content; */
}

.main-content-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  margin-left: 142px;
  margin-right: 142px;
  width: 1157px;
}
.content-title {
  font-size: 68px;
  font-weight: 200;
  color: var(--titleColor);
  font-family: var(--font-family-title);
  text-align: center;
}
/* -👇👇👇-The Grid-👇👇👇-Start-👇👇👇- */
.works-wrapper {
  display: grid;
  place-self: center;
  align-self: center;
  align-items: center;
  grid-auto-flow: i;
  width: 1157px;
  height: 456px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 216px;
  row-gap: 50px;
  column-gap: 40px;
}
.box-1 {
  width: 384px;
  height: 216px;
  border: 4px solid var(--lineColor);
  border-radius: 15px;
  background-image: url("./images/A.png");
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box-1:hover {
  background-image: url("./images/hover-img.gif");
}
.hover-links {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.box-1:hover .hover-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 65px;
}
.box-2 {
  width: 384px;
  height: 216px;
  border: 4px solid var(--lineColor);
  border-radius: 15px;
  background-image: url("./images/B.png");
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box-2:hover {
  background-image: url("./images/hover-img.gif");
}
.box-2:hover .hover-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 65px;
}
.box-3 {
  width: 384px;
  height: 216px;
  border: 4px solid var(--lineColor);
  border-radius: 15px;
  background-image: url("./images/C.png");
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box-3:hover {
  background-image: url("./images/hover-img.gif");
}
.box-3:hover .hover-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 65px;
}
.box-4 {
  width: 384px;
  height: 216px;
  border: 4px solid var(--lineColor);
  border-radius: 15px;
  background-image: url("./images/D.png");
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box-4:hover {
  background-image: url("./images/hover-img.gif");
}
.box-4:hover .hover-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 65px;
}
.box-5 {
  width: 384px;
  height: 216px;
  border: 4px solid var(--lineColor);
  border-radius: 15px;
  background-image: url("./images/E.png");
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box-5:hover {
  background-image: url("./images/hover-img.gif");
}
.box-5:hover .hover-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 65px;
}
.box-6 {
  width: 384px;
  height: 216px;
  border: 4px solid var(--lineColor);
  border-radius: 15px;
  background-image: url("./images/F.png");
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.box-6:hover {
  background-image: url("./images/hover-img.gif");
}
.box-6:hover .hover-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 65px;
}
/* ------------------work-links------------------------ */
.hover-links li {
  padding: 8px;
  /* border-bottom: 1px solid #ddd; */
}
.hover-links li:last-child {
  border-bottom: none;
}

