.spin1 {
animation: spin 5s ease-in infinite;
transition-timing-function: linear;

}
@keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
transform: rotate(3turn);

    }
}

.box{
    width: 10px;
height: 300px;
background-color: aqua;
animation: move 10s ease-in-out infinite ;


}

@keyframes move {
    10% {width: 100px; background-color: green;}
    20% {width: 200px; background-color: black;}
    30% {width: 300px; background-color: purple;}
    40% {width: 400px; background-color: rgb(0, 0, 0);}
    50% {width: 500px; background-color: rgb(0, 105, 128);}
    60% {width: 600px; background-color: rgb(242, 227, 11);}
    70% {width: 700px; background-color: purple;}
    80% {width: 800px; background-color: rgb(0, 0, 0);}
    90% {width: 900px; background-color: rgb(255, 2, 2);}
    /* 100% {width: 1000px; background-image: srs="./Untitled design (3).png";} */
    100% {width: 1000px; background-image: url("./85.png"); height: 1000px;}
    
}